 body{
  background: linear-gradient(to right, rgb(187, 240, 217),rgba(234, 242, 191,1));
  /*text manipulations which does not depends on the font.*/
  text-align:justify;
  text-transform:none;
  /*text manipulations which depends on the font.*/
  /* font-style: italic; */
  font-size: 1.05em;
  font-weight:normal;
  font-style: normal;

  font-family:sans-serif;
}
#title{
  color: rgb(43, 101, 171);
}
#service-image{
  height: 400px;
  width: 70%;
  /* background-image: url("../img/island.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(217, 270, 247); */
  background: radial-gradient(circle, red 20%, blue 30%, green 60%);
}
#aboutus-img{
  height:250px;
  width: auto;
  padding:5px;
  border: 4px solid rgb(97, 150, 127);
  margin: 2px 15px;
  float: right;
}
.link{
  text-decoration: underline;
}
.subtitle{
  color: rgb(77, 136, 209);
}
.table-info{
  border-collapse: collapse;
}
@media (max-width:768px){
  body{
    font-size:1rem;
    overflow-x:scroll;
  }
  #aboutus-img{
    float:none;
    display:block;
    width:97%;
    margin:10px 3% 10px 0;
    height:auto;
    min-width:250px;
  }
  #service-image{
    width:100%;
    margin:10px 1% 10px 0;
  }
  .table{
    display:flex;
    justify-content: center;
  }
  table{
    width:75%;
    border-collapse: collapse;
    margin:20px 0;
  }
  td{
    text-align: center;
    padding:5px 10px;
  }
  input{
    display:block;
  }
}
